.home-dashbord-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  max-width: 975px;
  padding: 20px 45px 20px 40px;
  margin-bottom: 20px;
}
.home-dashbord-top h3 {
  font-size: 20px;
  font-weight: 500;
}
.dashboard-date-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  min-width: 180px;
  height: 35px;
  padding: 8px;
  font-size: 14px;
  color: var(--black);

  border-radius: 4px;
  border: 0.5px solid var(--lighter-grey);
}
.dashboard-date-container span {
  font-size: 14px;
}
