.home-container {
  display: flex;

  /* Same as dashboard nav height */
  margin-top: 60px;
}

.home-dashboard {
  /* flex: 4; */
  /* flex: 0 1 1100px; */
  /* min-height: 100vh; */
  /* 
  height: 100vh; */
  left: 300px;
  position: relative;
  width: calc(100% - 300px);
  overflow-y: auto;

  max-width: 1400px;
}
