.changePassword-container {
}
.changePassword-container h6 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 35px;
}

.changePassword-container #changePassword-form {
  width: 360px;
}
#changePassword-form label {
  color: var(--black);
  font-size: 16px;
  font-weight: 500;
  display: inline-block;
  margin-bottom: 8px;
}

/*

border: 0.81px solid var(--light-grey);
background: var(--white);
 */

#changePassword-form .password-control {
  margin-bottom: 20px;
  padding: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  height: 50px;
  border: 0.8px solid var(--light-grey);
  border-radius: 6px;
  font-size: 16px;
}
#changePassword-form .password-control:focus-within {
  border: 1px solid var(--green);
}
#changePassword-form .password-control input {
  border: none;
  padding: 14px;
  width: 100%;
  height: 100%;
  font-size: 16px;
  background-color: var(--white);
}
#changePassword-form .password-control #icon1 {
  width: 15px;
  height: 18px;
}
#changePassword-form .password-control #Vicon {
  width: 27px;
  height: 20px;
  cursor: pointer;
}
