.whyUs-container {
  background-color: var(--lightest-green);
  min-height: 950px;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 80px;
}
.whyUs-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 15px;
}
.whyUs-top h3 {
  font-size: 35px;
  font-weight: 700;
  width: 80%;
}
.whyUs-top p {
  font-size: 18px;
  line-height: 27px;
  max-width: 61%;
}

/* BOTTOM */
.whyUs-bottom {
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 13%;
  gap: 80px;
}
.whyUs-left {
  margin-top: 30px;
  max-width: 50%;
}
.whyUs-left-activeContent {
  max-width: 400px;
  padding: 20px;
  border-radius: 8px;
  border: 0.5px solid var(--lightest-grey);
  background: var(--white);
  box-shadow: 2px 7px 17px 0px rgba(0, 94, 93, 0.09);
  margin-bottom: 50px;
  overflow: hidden;

  animation-name: accordion;
  animation-duration: 0.25s;
  animation-timing-function: cubic-bezier(0.57, 0.51, 0.25, 0.26);
}
@keyframes accordion {
  0% {
    max-height: 40px;
  }
  100% {
    max-height: 172px;
  }
}

.whyUs-left-content_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  cursor: pointer;
}
.whyUs-left-content_header h4 {
  font-size: 18px;
  font-weight: 600;
}
.whyUs-left-activeContent p {
  font-size: 16px;
  width: 327px;
}
.whyUs-left-inactive {
  max-width: 400px;
  padding: 0 20px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  cursor: pointer;
}
.whyUs-left-inactive h4 {
  font-size: 18px;
  font-weight: 500;
}
.whyUs-left .inactive {
  display: none;
}
/* RIGHT COMPONENT */
.whyUs-right {
  width: 50%;
}
.whyUs-right img {
  width: 100%;
  height: 100%;
  height: 280px;
}

/* small laptops */
@media screen and (max-width: 880px) {
  .whyUs-container {
    padding: 60px 40px;
  }

  .whyUs-top h3 {
    width: 89%;
  }
  .whyUs-top p {
    max-width: 100%;
  }

  .whyUs-bottom {
    flex-direction: column-reverse;
    justify-content: center;
  }
  .whyUs-left {
    width: 100%;
  }
  .whyUs-left-activeContent {
    max-width: 100%;
  }
  .whyUs-left-activeContent p {
    font-size: 16px;
    width: 327px;
    width: 100%;
  }

  .whyUs-left-inactive {
    max-width: 100%;
  }

  .whyUs-right {
    width: 100%;
  }
}

/* Mobile */
@media screen and (max-width: 500px) {
  .whyUs-container {
    padding: 54.997px 23px;
  }
  .whyUs-top h3 {
    font-size: 27px;
    font-weight: 700;
    width: 100%;
    line-height: 35px;
  }
  .whyUs-top p {
    font-size: 18px;
    line-height: 27px;
    max-width: 100%;
  }

  .whyUs-bottom {
    margin-top: 30px;
  }
  .whyUs-left-activeContent p {
    font-size: 16px;
    width: 327px;
  }
}

@media screen and (max-width: 393px) {
  .whyUs-top p {
    font-size: 16px;
    width: 100%;
  }

  .whyUs-bottom {
    margin-top: 12px;
  }
  .whyUs-left {
    width: 95%;
  }
  .whyUs-right {
    width: 95%;
    height: 250px;
  }
  .whyUs-right img {
    width: 100%;
  }
  .whyUs-left-activeContent p {
    font-size: 16px;
    width: 327px;
    width: 100%;
  }
}
