.schedule-appointment-container {
  min-height: 100vh;
  background: linear-gradient(180deg, #005e5d 0%, rgba(0, 0, 0, 0.65) 100%),
    url("../../assets/schedule-appointment.jpeg"),
    lightgray -390.222px 4px / 126.42% 100% no-repeat;

  background-size: cover;
}
.schedule-appointment-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 10px 60px 0px 60px;
}
#scheduleAppointment-logo {
  width: 80px;
  height: 80px;
}
.schedule-appointment-header #scheduleAppointment-closeIcon {
  width: 37.19px;
  height: 27.19px;
}
#scheduleAppointment-mobile-closeIcon {
  display: none;
}
.schedule-appointment-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.schedule-appointment-content h1 {
  font-size: 40px;
  font-weight: 700;
  color: var(--white);
  margin-bottom: 5px;
}
.schedule-appointment-content p {
  color: var(--lighter-grey);
  font-size: 18px;
}

.schedule-appointment-cards {
  margin-top: 40px;
  display: flex;
  gap: 45px;
}
.schedule-appointment-card {
  width: 300px;
  height: 340px;
  text-align: center;
  padding: 45px 25px 50px 25px;
  border-radius: 12.371px;
  border: 1.546px solid var(--light-grey);
  background: var(--white);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.3),
    0px 8px 12px 12px rgba(0, 0, 0, 0.15);
}

.schedule-appointment-card h3 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 30px;
}
.schedule-appointment-card p {
  color: var(--grey);
  font-size: 20px;
}

.schedule-appointment-card button {
  margin-top: 45px;
  background-color: var(--green);
  color: var(--white);
  font-size: 18px;
  width: 150.938px;
  height: 50px;
  border-radius: 15.464px;
  cursor: pointer;
}

.schedule-appointment-footer {
  margin-left: 80px;
  position: fixed;
  bottom: 10px;
  color: var(--white);
}

@media all and (max-width: 656px) {
  .schedule-appointment-cards {
    flex-direction: column;
    margin-top: 50px;
    gap: 20px;
  }
  .schedule-appointment-footer {
    display: none;
  }
  #scheduleAppointment-logo {
    display: none !important;
  }
}

@media all and (max-width: 564px) {
  .schedule-appointment-container {
    background: var(--white);
    min-height: 900px;
  }
  .schedule-appointment-header {
    height: 170px;
    position: relative;
    width: 100%;
  }
  #scheduleAppointment-mobile-closeIcon {
    display: block;
    position: absolute;
    right: 38px;
    top: 80px;
  }
  .schedule-appointment-header #scheduleAppointment-closeIcon {
    display: none;
  }
  .schedule-appointment-content h1 {
    font-size: 28px;
    font-weight: 700;
    color: var(--black);
    margin-bottom: 5px;
  }
  .schedule-appointment-content p {
    color: var(--black);
    font-size: 14px;
  }
  .schedule-appointment-cards {
    gap: 45px;
  }

  .schedule-appointment-card {
    width: 265px;
    height: 270px;

    box-shadow: none;
    text-align: center;
    padding: 50px 20px;
    border-radius: 10px;
    border: 0.5px solid var(--black);
    background: var(--white);
  }
  .schedule-appointment-card h3 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 30px;
  }
  .schedule-appointment-card p {
    color: var(--black);
    font-size: 16px;
  }
  .schedule-appointment-card button {
    margin-top: 45px;
    font-size: 18px;
    width: 133px;
    height: 39px;

    border-radius: 10px;
  }
}
