.css-1jsy6pn-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
  /* background-color: var(--green) !important; */
}
.MuiButtonBase-root {
  /* background-color: var(--green) !important; */
}
.MuiPickersDay-root {
  /* background-color: var(--green); */
}
.Mui-selected {
  background-color: var(--green) !important;
}
.MuiPickersDay-dayWithMargin {
  /* background-color: blue; */
}
.MuiPickersDay-today {
  background-color: green;
}
.css-1jsy6pn-MuiButtonBase-root-MuiPickersDay-root {
  /* font-size: 300px; */
}

.MuiTypography-root {
  /* background-color: red; */
}
.MuiTypography-caption {
  /* background-color: red; */
}
.MuiDayCalendar-weekDayLabel {
  /* background-color: red; */
}
.css-rhmlg1-MuiTypography-root-MuiDayCalendar-weekDayLabel {
  /* background-color: red; */
  /* display: flex;
  margin: -10px; */
}
.MuiDayCalendar-weekContainer {
  /* background-color: red; */
  /* margin-right: 0px; */
}
.css-flbe84-MuiDayCalendar-weekContainer {
}

.MuiDayCalendar-monthContainer {
  margin: -2px;
}
/* css-12p2adl-MuiDayCalendar-monthContainer */
